html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--main-background-color);
  color: #444;
  font-family: var(--main-font);
  font-weight: 500;
  height: 100%;
}
body.lock {
  overflow: hidden;
}
img {
  display: block;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
