:root {
  --main-background-color: #fff;
  --secondary-bg-color: rgb(41, 40, 40);
  --hover-focus: rgb(8, 96, 238);
  --button-color: #d8082d;
  --title-color: #03131f;
  --section-title-color: #505d68;
  --subtitle-text-color: #a1aeb7;
  --secondary-text-color: #000000;
  --main-font: "Ubuntu", sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
